.header
  %h2
    = image_tag('wizard.png')
    = t('services.by_mail.special_ballot.title')

= t('services.by_mail.special_ballot.instructions').html_safe
  

.buttons 
  = link_to t('services.by_mail.special_ballot.back'), registration_services_path, class: :button
  = link_to t('services.by_mail.special_ballot.next'), '#', class: :button