= service_header('ballot_tracker')

- ar = current_user.absentee_requests.last 
- if ar
  - if ar.approved?
    - #TODO actually show some status of a submitted absentee ballot?
    %ul.calendar= t('services.ballot_tracker.absentee.events', address: ar.mailing_address.html_safe).html_safe
  - elsif ar.submitted?
    .pending= t('information.status.absentee.pending')
    = link_to '' do
      = image_tag "reload.png", class: :reload
- else 
  .warning
    %h3
      = image_tag 'alert_red_large.png'
      Not Signed up
    %p Not signed up
  
- if false # wait until we implement this model
  - ar = current_user.special_ballot_requests.last 
  - if ar
    - if ar.approved?
      = t('information.status.absentee.complete')
    - elsif ar.submitted?
      .pending= t('information.status.absentee.pending')
      = link_to '' do
        = image_tag "reload.png", class: :reload
        