= service_header('voter_id', 'election')


= t('services.voter_id.step_2.intro').html_safe

.qrcode
  .rendered-table
    = raw @qrcode.as_html 

.full-data{style: "display: none"}
  %p= @user.name
  %p= @user.home_address_lines.join("<br/>").html_safe
  
.buttons
  %a.button{onclick: "$('.full-data').show(); $('.buttons').hide();"}
    = t('services.voter_id.step_2.button')
