= services_header

.service
  = link_to registration_services_path do
    .title= t('services.registration.title')
    .description= t('services.registration.description')
  
.service
  = link_to by_mail_services_path do 
    .title= t('services.by_mail.title')
    .description= t('services.by_mail.description')