= services_header

.service
  = link_to registration_services_path, class: :wizard do
    .title= t('services.registration.title')
    .description= t('services.registration.description')
  
.service
  = link_to by_mail_services_path, class: :by_mail do 
    .title= t('services.by_mail.title')
    .description= t('services.by_mail.description')

.service
  = link_to by_mail_tracker_services_path, class: :ballot_tracker do 
    .title= t('services.ballot_tracker.title')
    .description= t('services.ballot_tracker.description')
    
.service
  - url = current_user.online_ballot_selection.blank? ? online_special_ballot_services_path : online_special_ballot_2_services_path
  = link_to url, class: :ballot_online do 
    .title= t('services.ballot_online.title')
    .description= t('services.ballot_online.description')

.service
  - url = current_user.sample_ballot_selection.blank? ? sample_ballot_services_path : sample_ballot_2_services_path
  = link_to url, class: :sample_ballot do 
    .title= t('services.sample_ballot.title')
    .description= t('services.sample_ballot.description')
    
.service
  = link_to dvic_services_path, class: :voter_id do 
    .title= t('services.voter_id.title')
    .description= t('services.voter_id.description')
    
    