= service_header('ballot_online', 'date')

.instructions
  %p.text-large.center= t('services.ballot_online.ballot_title_2').html_safe

.contest-selection
  .name= t('services.ballot_online.fake_contest.name')
  .item
    .item-value
      - if @write_in
        .first-name= @write_in
      - else
        .first-name= t("services.ballot_online.fake_contest.items.#{@selection}.first_name", default: "")
        .last-name= t("services.ballot_online.fake_contest.items.#{@selection}.last_name", default: "")
        .party
          = t("services.ballot_online.fake_contest.items.#{@selection}.party", default: "")
          %br
          = t("services.ballot_online.fake_contest.items.#{@selection}.party", locale: :fr, default: "")

%br
= t('services.ballot_online.delivery.prompt').html_safe

= form_tag online_special_ballot_complete_services_path do
  .checkbox-list.checkbox-list--horizontal
    = label_tag :same_day_delivery_email, class: 'radio' do
      = radio_button_tag :same_day_delivery, :email
      .radio-icon
      .label= t('services.ballot_online.delivery.email')

    = label_tag :same_day_delivery_print, class: 'radio' do
      = radio_button_tag :same_day_delivery, :print
      .radio-icon
      .label= t('services.ballot_online.delivery.print')


    = label_tag :same_day_delivery_later, class: 'radio' do
      = radio_button_tag :same_day_delivery, :later
      .radio-icon
      .label= t('services.ballot_online.delivery.later')
  
  .buttons
    = link_to t('services.ballot_online.change_selections'), online_special_ballot_services_path, class: [:back, :button]
    = submit_tag t('buttons.next'),  class: [:next, :button]