= service_header('registration', 'online')

- if current_user.needs_address?
  .alert
    %h3= t("services.registration.needs_profile_update")
    = t("services.registration.needs_profile_update_intro").html_safe
    .icon= image_tag 'alert_red_large.png'
  .buttons
    = link_to t("services.registration.update_profile"), new_registrant_user_path, class: [:button]
  
- elsif current_user.is_registered?  && !current_user.needs_reregistration? && (!current_user.reregistration_submitted? || current_user.is_reregistered?)
  %h3
    = image_tag 'check_green.png'
    = t('services.registration.registered')
  %br
  = render 'users/status_bar'
  
  = label_tag :changed_name, class: 'checkbox' do
    = check_box_tag 'changed_name', '1', false
    .checkbox-icon
    .label= t("services.registration.changed_name")
  = label_tag :changed_address, class: 'checkbox' do
    = check_box_tag 'changed_address', '1', false
    .checkbox-icon
    .label= t("services.registration.changed_address")
  
  = link_to t("services.registration.update_profile"), edit_user_path(step: registration_services_path), class: [:button, "button--small"]
  
- elsif current_user.registration_submitted? || current_user.reregistration_submitted?
  .pending
    .icon= image_tag('info.png')
    %h3
      = t('information.status.header')
    %p
      - if current_user.reregistration_submitted?
        = t('services.registration.online.pending_update')
      - else
        = t('services.registration.online.pending')
  = link_to '' do
    = image_tag "reload.png", class: :reload
  
- else
  = render 'users/start_online_registration'