= service_header('registration', 'same_day')

- if current_user.needs_address?
  .alert
    %h3= t("services.registration.needs_profile_update")
    = t("services.registration.needs_profile_update_intro").html_safe
    .icon= image_tag 'alert_red_large.png'
  .buttons
    = link_to t("services.registration.update_profile"), edit_user_path(step: registration_services_path), class: [:button]
    
- elsif current_user.is_registered? && !current_user.needs_reregistration?
  %h3
    = image_tag 'check_green.png'
    = t('services.registration.registered')
  %br
  = render 'users/status_bar'
  
  = label_tag :changed_name, class: 'checkbox' do
    = check_box_tag 'changed_name', '1', false
    .checkbox-icon
    .label= t("services.registration.changed_name")
  = label_tag :changed_address, class: 'checkbox' do
    = check_box_tag 'changed_address', '1', false
    .checkbox-icon
    .label= t("services.registration.changed_address")
  
  = link_to t("services.registration.update_profile"), edit_user_path(step: registration_services_path), class: [:button, "button--small"]
  
- else
 
  %h3= t('services.registration.same_day.confirm')

  = form_for current_user do |f|
    = render 'users/edit_profile_fields', {f: f, next_page: registration_services_path}
  

  .buttons 
    = link_to t('buttons.back'), services_path, class: [:button, :back]
    = link_to t('buttons.next'), register_same_day_2_services_path, class: [:button, :next]