

%h3= t('services.registration.same_day.confirm')

= form_for current_user do |f|
  = render 'users/edit_profile_fields', {f: f, next_page: registration_services_path}


.buttons 
  = link_to t('buttons.back'), services_path, class: [:button, :back]
  = link_to t('buttons.next'), register_same_day_3_services_path, class: [:button, :next]