= service_header('sample_ballot', 'date')

.instructions
  %p.text-large.center= t('services.sample_ballot.ballot_title', default: '').html_safe

.contest
  .name= t('services.ballot_online.fake_contest.name')
  %ol.items
    - 5.times do |i|
      %li
        .item-selector
        .item
          .first-name= t("services.ballot_online.fake_contest.items.#{i+1}.first_name")
          .last-name= t("services.ballot_online.fake_contest.items.#{i+1}.last_name")
          .party= t("services.ballot_online.fake_contest.items.#{i+1}.party")

.buttons
  = link_to t('buttons.next'), "#", class: [:next, :button]