= service_header('by_mail', 'absentee')

= t('services.by_mail.absentee.step_1').html_safe

.absentee_request
  = semantic_form_for @absentee_request do |f|
    = f.inputs name: t('activerecord.attributes.absentee_request.ontario_address'), class: :grouped do
      = hidden_field_tag :step, "1"
      = f.input :street_number, {input_html: {required: true}}
      = f.input :street_name, {input_html: {required: true}}
      = f.input :street_unit
      = f.input :city, {input_html: {required: true}}
      = f.input :postal_code, {input_html: {required: true}}
  
    = f.inputs do
      = f.input :email, {input_html: {required: true}}
  
    = f.inputs name: t('activerecord.attributes.absentee_request.gender') do
      = f.label "gender_m".to_sym, class: 'radio' do
        = f.radio_button :gender, :m, required: true
        .radio-icon
        .label= I18n.t("activerecord.attributes.absentee_request.gender_options.m")
      = f.label "gender_f".to_sym, class: 'radio' do
        = f.radio_button :gender, :f, required: true
        .radio-icon
        .label= I18n.t("activerecord.attributes.absentee_request.gender_options.f")
      = f.label "gender_o".to_sym, class: 'radio' do
        = f.radio_button :gender, :o, required: true
        .radio-icon
        .label= I18n.t("activerecord.attributes.absentee_request.gender_options.o")
  
    .buttons
      = link_to t('buttons.back'), :back, class: [:button, :back]
      = f.submit t('buttons.next'), class: :next