= service_header('by_mail', 'absentee')

= t('services.by_mail.absentee.step_2').html_safe

.absentee_request
  = form_for @absentee_request do |f|
    = hidden_field_tag :step, "2"
    %strong=t('activerecord.attributes.absentee_request.mailing_address')
    .grouped
      = f.label :mailing_street_number
      = f.text_field :mailing_street_number, {required: true}
      = f.label :mailing_street_name
      = f.text_field :mailing_street_name, {required: true}
      = f.label :mailing_street_unit
      = f.text_field :mailing_street_unit
      = f.label :mailing_city
      = f.text_field :mailing_city, {required: true}
      = f.label :mailing_postal_code
      = f.text_field :mailing_postal_code, {required: true}
  
    %strong=  t('activerecord.attributes.absentee_request.sharing')
    .grouped
      = f.label "do_not_share_permanent".to_sym, class: 'checkbox' do
        = f.check_box :do_not_share_permanent
        .checkbox-icon
        .label= I18n.t("activerecord.attributes.absentee_request.do_not_share_permanent")
      = f.label "do_not_share_national".to_sym, class: 'checkbox' do
        = f.check_box :do_not_share_national
        .checkbox-icon
        .label= I18n.t("activerecord.attributes.absentee_request.do_not_share_national")
      = f.label "do_not_share_municipal".to_sym, class: 'checkbox' do
        = f.check_box :do_not_share_municipal
        .checkbox-icon
        .label= I18n.t("activerecord.attributes.absentee_request.do_not_share_municipal")
  
    .buttons
      = link_to t('buttons.back'), step_1_absentee_request_path(@absentee_request), class: [:button, :back]
      = f.submit t('buttons.next'), class: :next