= information_header


= render 'users/status_bar'
  
  
%br

%h3= t('information.how_to_vote.header')
= t('information.how_to_vote.intro').html_safe
= link_to t('voting_options.link_title'), voting_options_path

