= notifications_header
- if @notifications.empty?
  %h3= t('notification.none')
- else 
  .notifications
    - @notifications.each do |n|
      .notification{class: n.notification_type}
        = n.long_content.html_safe
        .cancel
          = link_to cancel_notification_path(n), confirm: "HI" do
            = image_tag "alert_cancellation.png"
        
        = notification_button(n).html_safe