- ar = current_user.absentee_requests.last 

- className = 'warning'
- txt = t('information.status.registered.incomplete')
- if current_user.is_registered
  - className = 'success'
  - txt = t('information.status.registered.complete')
  - if current_user.is_reregistered
    - txt = t('information.status.reregistered.complete')
  - elsif current_user.reregistration_submitted
    - className = 'pending'
    - if current_user.is_registration_deadline_passed?
      - txt = t('information.status.reregistered.pending_election_day')
    - else
      - txt = t('information.status.reregistered.pending')
  - elsif !current_user.needs_reregistration.blank?
    - className = 'warning'
    - txt = t('information.status.reregistered.incomplete')
  
  
- elsif current_user.registration_submitted?
  - className = 'pending'
  - if current_user.is_registration_deadline_passed?
    - txt = t('information.status.registered.pending_election_day')
  - else
    - txt = t('information.status.registered.pending')
  
  

%div{class: className}
  .icon= image_tag('info.png')
  %h3
    = t('information.status.header')
  %p
    = txt
  - if className == 'warning'
    - if current_user.needs_address?
      = link_to t('information.status.registered.incomplete_button'), new_registrant_user_path, class: [:button, 'button--small']
    - else
      = link_to t('information.status.registered.incomplete_button'), registration_services_path, class: [:button, 'button--small']
  - if className == 'pending' && current_user.is_registration_deadline_passed?
    = link_to t('information.status.registered.get_packet_button'), registration_services_path, class: [:button, 'button--small']
    
  - if ar
    %p
      - if ar.approved?
        = t('information.status.absentee.complete')
      - elsif ar.submitted?
        = t('information.status.absentee.pending')
  - if current_user.is_special_ballot
    %p
      - if current_user.is_special_ballot_approved?
        = t('information.status.special_ballot.complete')
      - elsif current_user.is_special_ballot_pending
        = t('information.status.special_ballot.pending')
