%h3= t('confirm.title')
%p= t('confirm.intro')

%h4.center

= form_for @user do |f|
  = f.hidden_field :confirmed_registration, value: true
  .address-options-multiple{style: "text-align: left;"}
    %label.radio
      %input{type: "radio", name: "select_address", value: "confirm", required: true}
      .radio-icon
      .label
        51 Rolark Dr 
        %br
        Scarborough, ON 
        %br
        M1R 3B1
    %label.radio
      %input{type: "radio", name: "select_address", value: "confirm", required: true}
      .radio-icon
      .label
        45 Rolark Dr
        %br
        Scarborough, ON 
        %br
        M1R 3B1
    %label.radio
      %input{type: "radio", name: "select_address", value: "confirm", required: true}
      .radio-icon
      .label
        1800 Birchmount Rd
        %br
        Scarborough, ON 
        %br
        M1P 2H7
    %label.radio
      %input{type: "radio", name: "select_address", value: "none", required: true}
      .radio-icon
      .label= t('confirm.no_address_match') 

  .buttons
    = link_to t('buttons.back'), '/', class: [:back, :button]
    = f.submit t('buttons.next'), class: :next
    
    