%h1 We found your voter record! Please confirm that the following is correct

%ul
  %li= "First Name: #{@user.first_name}"
  %li= "Last Name: #{@user.first_name}"
  %li= "Date Of Birth: #{I18n.l @user.dob, format: :date_of_birth}"
  %li= "Address 1: #{@user.address1}"
  %li= "Address 2: #{@user.address2}"
  %li= "Address 3: #{@user.address3}"
  %li= "Postcal Code: #{@user.postal_code}"

= link_to "Looks Good! ->", confirm_registration_user_path
    