%h4 Confirm your address
%p We found a voter record matching your personal info. Please confirm your voter residence address by selecting one of the following addresses.

= form_for @user do |f|
  = f.hidden_field :address1, value: "40 Bay St"
  = f.hidden_field :address2
  = f.hidden_field :address3, value: "Toronto, ON"
  = f.hidden_field :postal_code, value: "M5J 2X2"
  = f.hidden_field :confirmed_registration, value: true
  %br
  %br
  .address-options-multiple{style: "text-align: left;"}
    %input{type: "radio", name: "select_address"}
    51 Rolark Dr, Scarborough, ON M1R 3B1
    %br
    %br
    %input{type: "radio", name: "select_address"}
    45 Rolark Dr, Scarborough, ON M1R 3B1
    %br
    %br
    %input{type: "radio", name: "select_address"}
    1800 Birchmount Rd, Scarborough, ON M1P 2H7
    %br
    %br
    %input{type: "radio", name: "select_address", value: "none"}
    None of these is my address.
    
  = f.submit "Continue"
    
    