:javascript
  $("document").ready(function() {
    if ($("input[value=none]").is(":checked")) {
      $(".is-not-me-options").show();
      $(".is-me-options").hide();      
    } else {
      $(".is-not-me-options").hide();
      $(".is-me-options").show();      
    }
    $("label").click(function() {
      console.log('hi')
      if ($("input[value=none]").is(":checked")) {
        $(".is-not-me-options").show();
        $(".is-me-options").hide();      
      } else {
        $(".is-not-me-options").hide();
        $(".is-me-options").show();      
      }
    })
  })


%h3= t('confirm_with_locator.title')
%p= t('confirm_with_locator.intro')

.indent
  %p.text-large
    = @user.name
    %br
    = @user.home_address_lines.join("<br/>").html_safe
  

= form_for @user do |f|
  = f.hidden_field :confirmed_registration, value: true
  .address-options-multiple
    %label.radio
      %input{type: "radio", name: "select_address", value: "confirm", required: true}
      .radio-icon
      .label= t('confirm_with_locator.match') 
    %label.radio
      %input{type: "radio", name: "select_address", value: "none", required: true}
      .radio-icon
      .label= t('confirm_with_locator.no_match') 

  .is-not-me-options{style: "display: none;"}
    .indent
      = link_to t('confirm_with_locator.try_again'), voter_record_searches_path
      %br
      = link_to t('confirm_with_locator.new_search'), new_voter_record_search_path
  .is-me-options

    %label.checkbox
      = f.check_box :global_preference, value: :app, checked: true
      .checkbox-icon
      .label= t("confirm.signup_for_notifications.label")
      %p= t("confirm.signup_for_notifications.description")
    .buttons
      = link_to t('buttons.back'), '/', class: [:back, :button]
      = f.submit t('buttons.next'), class: :next
    
    