- @step ||= 1
= settings_header(nil, sub_text=I18n.t("preferences.sub_header", step: @step, num_steps: current_user.notifications_step_count))

%h3= t('preferences.title')
%p= t('preferences.intro')

= form_for current_user do |f|
  = hidden_field_tag :step, @step
  = f.label "global_preference_app".to_sym, class: 'radio' do
    = f.radio_button :global_preference, :app, checked: true
    .radio-icon
    .label= I18n.t("notification_options.app")
  
  = f.label "global_preference_sms".to_sym, class: 'radio' do
    = f.radio_button :global_preference, :sms, disabled: true
    .radio-icon
    .label= I18n.t("notification_options.sms")
  
  .indent
    %p= t('preferences.also_choose')
  
  = f.label "global_receive_email".to_sym, class: 'radio' do
    = f.check_box :global_receive_email
    .checkbox-icon
    .label= I18n.t("notification_options.global_email")
  
  .buttons
    = link_to t('buttons.back'), :back, class: [:back, :button]
    = f.submit t('buttons.next'), class: :next