= settings_header

%h3= t('preferences.title')
%p= t('preferences.intro')

= form_for @user do |f|
  
  = f.label "global_preference_app".to_sym, class: 'radio' do
    = f.radio_button :global_preference, :app, checked: true
    .radio-icon
    = I18n.t("notification_options.app")
  
  = f.label "global_preference_sms".to_sym, class: 'radio' do
    = f.radio_button :global_preference, :sms, disabled: true
    .radio-icon
    = I18n.t("notification_options.sms")
  
  %p= t('preferences.also_choose')
  
  = f.label "global_receive_email".to_sym, class: 'radio' do
    = f.check_box :global_receive_email
    .checkbox-icon
    = I18n.t("notification_options.global_email")
  
  .buttons
    = link_to t('buttons.back'), :back, class: [:back, :button]
    = f.submit t('buttons.next'), class: :next