:javascript
  function fakeFoundAddress(showMultiple) {
    $(".intro").hide();
    $("#address-detection-loading").hide();
    $("#address-detection-options").hide();
    
    $("#fake-found-address").show();
    if (showMultiple) {
      $(".address-options-multiple").show();      
    } else {
      $(".address-options-single").show();      
    }
  }

  var geoSuccess = function(position) {
    console.log(position)
    fakeFoundAddress(true);
  }
  var geoError = function(error) {
    $(".intro").hide();
    $("#address-detection-options").show();
    $("#address-detection-loading").hide();
    
  }
  
  function getLocationFromBrowser() {  
    $(".intro").hide();
      
    $("#address-detection-options").hide();
    $("#address-detection-loading").show();
    
    navigator.geolocation.getCurrentPosition(geoSuccess, geoError);    
  }
  
  function getLocationFromMap() {
    $(".intro").hide();
    $("#address-detection-loading").hide();
    $("#address-detection-options").hide();
    
    //$("#fake-found-address").show();
    $(".address-options-pindrop").show();      
  }
  
  function setLocationFromMap() {
    $(".address-options-pindrop").hide();
    fakeFoundAddress(true);
  }

  function selectAddressDetection() {
    $(".intro").hide();
    var addType = $("input[name=address]:checked").val()
    if (addType == "contacts") {
      fakeFoundAddress(false)
    } else if (addType == "geo") {
      getLocationFromBrowser();
    } else if (addType == "map") {
      getLocationFromMap();
    } else if (addType == "later") {
      $("#skip_address").val(true)
      $("form").submit();
    }
    //Get radio selection
    // %li
    //   %a{href: "", onclick: "event.preventDefault(); fakeFoundAddress(false)"}
    // %li
    //   %a{href: "", onclick: "event.preventDefault(); getLocationFromBrowser()"}
    // %li
    //   %a{href: "", onclick: "event.preventDefault(); getLocationFromMap()"}
    
  }


- if @matched_without_address
  .intro
    = @matched_without_address.html_safe
  
- else 
  .intro
    %h3= t('new_registration.title')
    %p= t('new_registration.intro')

#address-detection-options
  %label.radio
    = radio_button_tag :address, :map
    .radio-icon
    .label= t('new_registration.address.map')
  %label.radio
    = radio_button_tag :address, :contacts
    .radio-icon
    .label= t('new_registration.address.contacts')
  %label.radio
    = radio_button_tag :address, :geo
    .radio-icon
    .label= t('new_registration.address.geo')
  %label.radio
    = radio_button_tag :address, :later
    .radio-icon
    .label= t('new_registration.address.later')
  
  .buttons 
    = link_to t('buttons.back'), :back, class: [:back, :button]
    %a.button.next{onclick: "event.preventDefault(); selectAddressDetection();"}= t('new_registration.address.next')
  
#address-detection-loading{style: "display: none"}
  Finding your address...

.address-options-pindrop{style: "display: none"}
  %h3= t('new_registration.address.set_pin.title')
  %p= t('new_registration.address.set_pin.intro') 
  = image_tag 'demo-map.png'
  -#= t('new_registration.address.set_pin.confirmation').html_safe
  .buttons
    = link_to t('buttons.back'), "", class: [:back, :button]
    %a.button.next{onclick: "event.preventDefault(); setLocationFromMap();"}= t('buttons.next')
    
#fake-found-address{style: "display: none"}
    
  .address-options-single{style: "display: none"}
    %h3= t('new_registration.address.confirm_single.title')
    %p= t('new_registration.address.confirm_single.intro')
    %p.text-large
      40 Bay St
      %br
      Toronto, ON 
      %br
      M5J 2X2
  .address-options-multiple{style: "display: none"}
    %h3= t('new_registration.address.confirm_multiple.title')
    %p= t('new_registration.address.confirm_multiple.intro')
    %label.radio
      %input{type: "radio", name: "select_address"}
      .radio-icon
      .label 51 Rolark Dr, Scarborough, ON M1R 3B1
    %label.radio
      %input{type: "radio", name: "select_address"}
      .radio-icon
      .label 45 Rolark Dr, Scarborough, ON M1R 3B1
    %label.radio
      %input{type: "radio", name: "select_address"}
      .radio-icon
      .label 1800 Birchmount Rd, Scarborough, ON M1P 2H7
    %label.radio
      %input{type: "radio", name: "select_address"}
      .radio-icon
      .label None of these is my address.
    
    
  = form_for @user do |f|
    = f.hidden_field :address1, value: "40 Bay St"
    = f.hidden_field :address2
    = f.hidden_field :address3, value: "Toronto, ON"
    = f.hidden_field :postal_code, value: "M5J 2X2"
    = f.hidden_field :confirmed_registration, value: true
    = hidden_field_tag "next_page", @next_page
    = hidden_field_tag "skip_address", false
    %br
    %br
    .buttons
      = link_to t('buttons.back'), "", class: [:back, :button]
      = f.submit t('buttons.next'), class: :next