%h1= "Hi, #{@user.name}"

%h3 You are currently subscribed to
- if @user.notification_preferences.any?
  %ul
    - @user.notification_preferences.each do |k,v|
      %li
        = "#{k.titleize}: #{I18n.t("notification_options.#{v}")}"
        - if v=='email'
          = "(#{@user.email})"
        - if v=='sms'
          = "(#{@user.phone})"
- else 
  %ul
    %li= @user.global_preference == "app" ? "In-App Notifications" : "SMS Notifications"
    - if @user.global_receive_email
      %li Email Notifications
  = link_to "Change Preferences", edit_notifications_user_path