%h1= t('profile.greeting', name: @user.name)

%h3= t('profile.preferences.title')
- if @user.notification_preferences.any?
  %ul
    - @user.notification_preferences.each do |k,v|
      %li
        = "#{k.titleize}: #{I18n.t("notification_options.#{v}")}"
        - if v=='email'
          = "(#{@user.email})"
        - if v=='sms'
          = "(#{@user.phone})"
- else 
  %ul
    %li= @user.global_preference == "app" ? t('notification_options.app') : t('notification_options.sms')
    - if @user.global_receive_email
      %li= t('notification_options.email')
  = link_to t('profile.preferences.change'), edit_notifications_user_path