.voter-record-search
  %h3= t('welcome.title')
  %p= @intro_paragraph 
    
    
  = form_for @user, url: voter_record_searches_path, method: :post do |f|
    .record-locator
      = f.text_field :record_locator
      .camera-button
        = image_tag 'camera_24.png'
    
    %br
    
    .checkbox-list
      = label_tag :no_record_locator, class: 'checkbox' do
        = check_box_tag :no_record_locator
        .checkbox-icon
        = t('welcome.no_record_locator')
      
    
    = f.submit t('welcome.next')
    
