.voter-record-search
  %p= @intro_paragraph 
    
    
  = form_for @user, url: voter_record_searches_path, method: :post do |f|
    = f.label :record_locator
    = f.text_field :record_locator
    
    
    %br
    
    = check_box_tag :no_record_locator
    = label_tag :no_record_locator, "I don't have a record locator", class: :radio
    
    = f.submit "Continue"
    
