.voter-record-search
  %h3= t('lookup.title')
  %p= t('lookup.intro')

  = form_for @user, url: voter_record_searches_path, method: :post do |f|


    = f.label :first_name
    = f.text_field :first_name

    = f.label :last_name
    = f.text_field :last_name

    %br
    %fieldset
      %legend= t('date_of_birth')
      .dob
        .dob-item
          = f.label :dob_day
          = f.select :dob_day, (1..31).to_a, {include_blank: true}

        .dob-item
          = f.label :dob_month
          = f.select :dob_month, Date::ABBR_MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i+1]}, {include_blank: true}


        .dob-item
          = f.label :dob_year
          = f.select :dob_year, (1900..2003).to_a.reverse, {include_blank: true}
    %br


    = f.label :postal_code
    = f.text_field :postal_code


    .buttons
      = link_to t('buttons.back'), :back, class: [:button, :back]
      = f.submit t('buttons.next'), class: :next
