.splash
  = link_to voter_record_searches_path do
    %h1= t('splash.title')
    .by-line= t('splash.sub_title').html_safe
    .logo
      
  = link_to legal_path do
    .footer
      %ul
        %li= t('footer.terms_of_use')
        %li= t('footer.privacy')
        %li
          &copy; 
          = Time.now.year
          = t('footer.copyright')

:javascript
  window.setTimeout(function() {
    window.location = '#{voter_record_searches_path}';
  }, 5000)