= voting_options_header

= t('voting_options.intro', map_url: image_path('demo-map.png')).html_safe

%h3= t('voting_options.advanced.header')
= t('voting_options.advanced.intro').html_safe


%h3= t('voting_options.by_mail.header')
= t('voting_options.by_mail.intro').html_safe

.service
  = link_to by_mail_services_path, class: :by_mail do 
    .title= t('services.by_mail.title')
    .description= t('services.by_mail.description')

.service
  = link_to by_mail_tracker_services_path, class: :ballot_tracker do 
    .title= t('services.ballot_tracker.title')
    .description= t('services.ballot_tracker.description')

.service
  - url = current_user.online_ballot_selection.blank? ? online_special_ballot_services_path : online_special_ballot_2_services_path
  = link_to url, class: :ballot_online do 
    .title= t('services.ballot_online.title')
    .description= t('services.ballot_online.description')

    
    
    