-# navigation styled for Bootstrap 3.0
.container
  %nav.navbar
    %ul.nav.navbar-nav
      %li.nav-item.nav-item--hamburger
        %button.navbar-toggler.hidden-sm-up.nav-link.collapsed{"aria-controls" => "exCollapsingNavbar2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button", style: @hide_menu ? "visibility: hidden" : ''}
          = image_tag('hamburger-large.png')
      %li.nav-item.nav-item--alert
        - if !@hide_menu && !@hide_alert && current_user 
          - if !current_user.is_registered?
            - if current_user.registration_submitted?
              = link_to registration_services_path do
                = image_tag 'alert_yellow_small.png'
            - else 
              = link_to registration_services_path do
                = image_tag 'alert_red_small.png'
        - else 
          &nbsp;
      %li.nav-item
        = link_to root_path, class: 'navbar-brand' do
          = image_tag('X.png')
          Elections
          %br
          Ontario
      %li.nav-item.nav-item--alert
        - if false #!@hide_menu &&  !@hide_alert && current_user 
          - url = edit_notifications_user_path
          - if current_user.notifications_step == 1
            - url = edit_notifications_2_user_path
          - if current_user.notifications_step == 2
            - url = edit_notifications_3_user_path
          
          = link_to url do
            - if !current_user.set_notifications? && current_user.is_registered?
              - # TODO also show icon w/Number
              = image_tag 'gear.png'
              .count
                = current_user.notification_steps_remaining
            - else 
              = image_tag 'settings.png'

      %li.nav-item.nav-item--search
        - if !@hide_menu
          %a{onclick: "toggleSearch();"}
            = image_tag 'search.png'
      
    #exCollapsingNavbar2.collapse.navbar-toggleable-xs
      %ul.nav.navbar-nav= render 'layouts/navigation_links'
