!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Eo Pvc Server'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Elections Ontario DEMO'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
      - if current_user
        %script{type: "text/javascript"}
          checkInAppNotifications("#{current_user.id}")
          
    - if current_user
      #demo_id
        = t('footer.demo_id', id: current_user.demo_id)
    %footer
      .container
        %nav.navbar
          = link_to t('footer.contact'), "#"
          = link_to t('footer.terms_of_use'), "#"
          = link_to t('footer.privacy'), "#"
        %p
          &copy; 
          = Time.now.year
          = t('footer.copyright') 